<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <%- include('includes/tab.ejs') %>

        <!-- The Modal -->
        <div id="modalAlert" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <h4>&#9888; Warning</h4>
                <p id="modalWarning"></p>
                <div class="btn--action--wrapper">
                    <button id="yesAction">Yes</button>
                    <button id="noAction">No</button>
                </div>
            </div>
        </div>

        <div id="phishTankData" class="display--none"><%= phishTankDataset %></div>
        <div id="shortUrlsList" class="display--none"><%= shortUrls.map(obj => obj.short) %></div>
        <div id="shortUrlsClicks" class="display--none"><%= shortUrls.map(obj => obj.clicks) %></div>

        <div class="container tabcontent" id="createShortLinks">
            <form action="/shortUrls" method="POST" class="form--wrapper">
                <div>
                    <label for="fullUrl">Original Long URL</label>
                    <input required type="url" name="fullUrl" id="fullUrl" placeholder="Enter the original long URL"
                        class="form-control col mr-2">
                </div>
                <div class="shorten--url__wrapper">
                    <label for="shortUrl">Shorten URL</label>
                    <div class="display--flex full--width">
                        <span id="hostName"></span>
                        <input type="hidden" id="shortId" name="shortId" value=<%= shortId %> />
                        <input required type="text" name="shortUrl" id="shortUrl" placeholder="Enter the short name"
                            class="form-control col mr-2">
                    </div>
                    <span class="short--url__info--text">* Use the randomly generated one or enter a short name as per
                        your preference</span>
                </div>
                <div class="btn--wrapper">
                    <button class="btn" type="submit">Shorten URL</button>
                </div>
            </form>
        </div>

        <div class="container tabcontent" id="shortLinksList">
            <% if (shortUrls && shortUrls.length > 0) { %>
            <table class="table table-striped table-responsive" id="linksCollectionTable">
                <thead>
                    <tr>
                        <th>Full URL</th>
                        <th>Short URL</th>
                        <th>Clicks</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% shortUrls.forEach((shortUrl, idx) => { %>
                    <tr id=<%= "shortUrl" + "_" + idx %>>
                        <td>
                            <%= shortUrl.full %>
                        </td>
                        <td>
                            <a href="<%= shortUrl.short %>"><%= shortUrl.short %></a>
                        </td>
                        <td><%= shortUrl.clicks %></td>
                        <td class="action--cell_width" title="Copy">
                            <img src="../../image/copy.png" width="20" height="20" alt="Copy" id="copyShortUrl" />
                        </td>
                        <td class="action--cell_width" title="Delete">
                            <a href="/delete/<%= shortUrl.short %>"><img src="../../image/delete.png" width="22"
                                    height="22" alt="Delete" /></a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
            <div class="no--date__style">No data available to display. Please add your list of URLs in the
                <strong>"Create Short Links"</strong> tab.</div>
            <% } %>
            <div class="btn--wrapper">
                <% if (shortUrls && shortUrls.length > 0) { %>
                <button class="refresh--btn" id="refData">Refresh Data</button>
                <% } %>
            </div>
        </div>

        <div class="container tabcontent" id="analysis">
            <canvas id="urlAnalytics" width="400" height="200"></canvas>
        </div>
    </main>

    <script src="/js/main.js"></script>
    <%- include('includes/end.ejs')  %>